* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to top right, #7c89d5, #f599a5);
  font-size: 15px;
}
.center {
  position: absolute;
  display: block;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 88vh;
  max-width: 800px;
  display: flex;
}
.left {
  flex: 0 0 150px;
  width: 150px;
  height: 100%;
  background-color: #fff;
  color: #848697;
  border-radius: 3px 0 0 3px;
}
.logo {
  position: fixed;
  top: 30px;
  height: 100px;
  left: 15%;
}
}
.navigation {
  position: relative;
  display: block;
  margin-top: 50px;
}
.navigation li {
  padding: 0px 0px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navigation li i {
  font-size: 15px;
}
.navigation li span {
  padding-left: 11px;
  vertical-align: super;
}
.right {
  background-color: #f6f6fc;
  padding: 100px;
  border-radius: 0 3px 3px 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.right .title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 20px;
}
.right .description {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #808080;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-lg {
    padding: 13px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    margin-bottom: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #3ca9e2;
    border-color: #3ca9e2;

}



