{% extends 'base.html' %}
{% from "macros.html" import render_field %}

{% block title %}
Login
{% endblock %}

{% block styles %}

<link rel="stylesheet" href="{{url_for('static', filename='signin.css')}}">

{% endblock %}

{% block content %}

  <div id="login-form-wrap">
    <h2>Please sign in</h2>

    <form id="login-form" class="form-signin" method="POST" action="#">
      {{ form.csrf_token }}
      {{ render_field(form.username) }}
      {{ render_field(form.password) }}
      {{ render_field(form.remember) }}
      {{ render_field(form.submit) }}

    </form>

  </div>

{% endblock %}



