{% extends 'base.html' %}
{% from "macros.html" import render_field %}

{% block title %}
Home Page
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='starter-template.css')}}">

{% endblock %}

{% block script %}


{% endblock %}

{% block content %}

  <script>
  function redirectToPage(endpoint){
    console.log('asd');
    window.location.href = `/${endpoint}`;
  }
  </script>


  <div id="index-form-wrap">
    <div class="logo">
      <img src= "{{ url_for('static', filename='trading_app_logo.jpg') }}" width="100" height="90" />
    </div>

    <h2>TradingApp</h2>
    <h3>All your assets in one place</h3>


    <div id="index-form">
      <button onclick="redirectToPage('login')" class="btn-primary btn-block" type="button">Login</button>
      <button onclick="redirectToPage('signup')" class="btn-primary btn-block" type="button">Sign Up</button>

    </div>

  </div>

{% endblock %}




